@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library of Addis Ababa University</title>
    <link rel="icon" type="icon" href="~/Icons/books.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="~/Icons/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/Icons/fontawesome/css/brands.css" rel="stylesheet">
    <link href="~/Icons/fontawesome/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="~/navbar.css">
    <link rel="stylesheet" href="~/signup.css">
</head>

<body>
    <section class="master">
        <section class="master-wrapper">
            <section class="navbar">
                <div class="left-side">
                    <img src="~/Icons/logo.svg" class="logo" alt="logo">
                    <ul class="left-links">
                        <li class="nav-link"><a href="@Url.Action("Home", "Admin")" class="nav-hover nav-link-ltr">Home</a></li>
                        <li class="nav-link"><a href="@Url.Action("About", "Admin")" class="nav-hover nav-link-ltr">About</a></li>
                        <li class="nav-link"><a href="#contact-us" class="nav-hover nav-link-ltr">Contact</a></li>
                    </ul>
                </div>
                <div class="right-side">
                    <ul class="right-links">
                        <li class="nav-link login"><a href="@Url.Action("userlogin", "MemberAccount")" class="nav-hover nav-link-ltr">Log In</a></li>
                    </ul>
                </div>
            </section>
            <section class="signup-hero">
                <div class="signup-container user-container">
                    <div class="left-signup user-left">
                        <h1 class="signup-desc-name">
                            Hello
                        </h1>
                        <p class="signup-desc-text">
                            Welcome to our library. If you
                            already have an account please
                            click the button below and log in.
                            And if you're an admin please <a href="@Url.Action("adminlogin", "Admin")" style="text-decoration: underline; color: #ffe0e0;">click here!</a>
                        </p>
                        <a href="@Url.Action("userlogin", "MemberAccount")">
                            <button class="go-to-login">Log In</button>
                        </a>
                    </div>
                    <div class="right-signup user-right">
                        <h1 class="signup-name">
                            Create Account
                        </h1>
                        <form method="post" action="usersignUp" class="signup-form">
                            <div class="fields user-fields">
                                <div class="upper user-upper">
                                    <input type="text" name="memberFullName" id="fullname" placeholder="Full Name" class="signup-inputs" required>
                                    <input type="email" name="email" id="email" placeholder="Email Address" class="signup-inputs" required>
                                    @*<input type="text" name="gender" id="gender" placeholder="Gender" class="signup-inputs" required>*@
                                    <select name="gender" id="gender" class="signup-inputs" required>
                                        <option value="">Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                                <div class="lower user-lower">
                                    <input type="tel" name="phoneNumber" id="phonenumber" placeholder="Phone Number" class="signup-inputs" required>
                                    <input type="password" name="memberPassword" id="password" placeholder="Password" class="signup-inputs" required>
                                    <input type="password" name="confirm" id="confirm" placeholder="Confirm Password" class="signup-inputs" required />
                                </div>
                            </div>
                           @* <div class="gender">
                                <input type="radio" name="gender" id="male" value="male" required>
                                <label for="male" class="label-for-male">Male</label>
                                <input type="radio" name="gender" id="female" value="female" required>
                                <label for="female">Female</label>
                            </div>*@
                            <button class="register">Sign Up</button>
                        </form>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <script src="~/confirm.js"></script>
</body>

</html>